$breakpoint-xs: "only screen and (max-width: 576px)";
$breakpoint-sm: "only screen and (min-width: 768px)";
$breakpoint-md: "only screen and (min-width: 992px)";
$breakpoint-lg: "only screen and (min-width: 1200px)";
$breakpoint-xl: "only screen and (min-width: 1400px)";

.container-holder {
    background-color: #ED242E;
    min-height: 100vh; 
    
    .MuiGrid-container {
        min-height: calc(100vh - 64px);
        border-bottom: 5px solid #ED242E;
        @media #{$breakpoint-sm} {
            border-bottom: 20px solid #ED242E;
        }
        @media #{$breakpoint-lg} {
            min-height: calc(100vh - 76px);
        }
    }
    //IPAD 
    @supports (-webkit-touch-callout: none) {
        @media #{$breakpoint-md} {
            .MuiGrid-container {
                min-height: calc(100vh - 94px);
            }
        }
        @media #{$breakpoint-sm, $breakpoint-lg} {
            .MuiGrid-container {
                min-height: calc(100vh - 100px);
            }
        }
    }    
}

.logo {
    width: 14rem;
    @media #{$breakpoint-xs} {
        width: 12rem;
    }
    @media #{$breakpoint-sm} {
        width: 15rem;
    }
    @media #{$breakpoint-lg} {
        padding: .5rem 0 .5rem 2rem;
        width: 20rem; 
    }
    &.logo3 {
        width: 10rem;
        position: absolute;
        right: 1rem;
        @media #{$breakpoint-xs} {
            width: 9rem;            
        }
        @media #{$breakpoint-sm} {
            width: 12rem;   
            right: 2rem;     
        }
        @media #{$breakpoint-lg} {
            width: 19rem; 
            position: static;    
        }
    }
}

header {
    .MuiToolbar-gutters {            
        @media #{$breakpoint-xs} {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    .logo2 {
        width: 9rem;
        position: absolute;      
        right: 2rem;   
        left: auto;  
        bottom: .4rem; 
        @media #{$breakpoint-xs} {
            right: 1rem;  
            width: 8rem;
        }
    }
}

.left-panel {
    background: #ED242E url(../assets/pattern-bg.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative; 
    display: none;
    @media #{$breakpoint-sm} {
        background-position: 50% 100%; 
        display: block;
    }
    .inner {          
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;    
        padding: 2rem 1rem; 
        @media #{$breakpoint-lg} {
            padding: 3rem 2rem; 
            width: auto;
        }     
        h1,
        h6 {
            color: #FFFFFF;
        }
        h3 {
            &.lg {
                font-size: 1.2rem;
            }
        }
        ul {
            margin: 0;
        }
        .MuiFormHelperText-root {
            position: absolute;
            bottom: -1.2rem;
        }
        &.inner-bottom {
            padding: 0 2rem 2rem;
            @media #{$breakpoint-lg} {
                padding: 0 3rem 2rem;
            }            
        }
    }
    .logo2 {    
        position: absolute;
        @media #{$breakpoint-sm} {
            width: 70%;            
            bottom: 1rem;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
        @media #{$breakpoint-lg} {
            width: 14rem;
        }
    }  
}

.right-panel {
    background-color: #E4E7ED;
    @media #{$breakpoint-sm} {
        border-bottom: 0;
    }
    .inner-top {
        background-color: #F0F2F5;
    }
    .inner {    
        padding: 2rem; 
        @media #{$breakpoint-xl} {
            padding: 3rem 3rem 2rem; 
            width: 90%;  
        }

        &.inner-bottom {
            .MuiBox-root {
                padding: 1rem 0 0;
            }

            form {
                .MuiBox-root {
                    padding: 0;
                }
            }
        }
    }

    .form-holder {  
        margin: 1.5rem 0;    
        grid-template-columns: 1fr;
        grid-gap: 1.5rem;  
        @media #{$breakpoint-sm} {
            grid-template-columns: 1fr 1fr;
            grid-gap: 1.5rem;  
        }
        &.vertical {
            grid-template-columns: none;
            .link-add-domain {
                display: flex;
                align-items: center;
                font-size: 0.9rem;
                text-decoration: underline;
                cursor: pointer;
                .css-ci5apu-MuiSvgIcon-root {
                    color: #595959;
                    width: 1rem;
                    height: 1rem;
                }
            }
            ul {
                margin: 0;
                padding: 0;
                align-items: center;
                column-gap: 1rem;
                display: flex;
                list-style-type: none;
                li {
                    &:first-child {
                        flex: 0 0 70%;
                        @media #{$breakpoint-sm} {
                            flex: 0 0 25rem;      
                        }
                        @media #{$breakpoint-xs} {
                            flex: 0 0 65%;     
                        }
                    }
                    div {
                        width: 100%;
                    }
                    .css-ci5apu-MuiSvgIcon-root {
                        display: none;
                        width: 1.8em;
                        height: 1.8em;
                        color: #148c2e;
                    }
                }
                &.state-done {
                    .MuiButtonBase-root {
                        display: none;
                    }
                    .css-ci5apu-MuiSvgIcon-root {
                        display: block;
                    }
                }
            }
        }
        &.width-half {
            width: 25rem;
            @media #{$breakpoint-xs} {
                width: 100%;
            }
            .MuiFormControl-root {
                width: 100%;
            }
        }
    }
}

#copyright {
    margin: 4rem 0 1rem;
}


.PrivateNotchedOutline-root-2 {
    border-width: 2px !important;
}

p.MuiFormHelperText-root {
    position: absolute;
    bottom: -1.2rem;
}

.MuiTextField-root .MuiInputLabel-root {
    padding-right: 1.5rem;
}

.MuiPopover-paper {
    h6 {
        padding: 1rem;
        font-size: .9rem;
        line-height: 1.2rem;
    }
}

.wizard-holder {
    margin: 1rem 2rem 0;
    @media #{$breakpoint-xl} {
        margin: 1rem 3rem 0; 
    }
    @media #{$breakpoint-xs} {
        width: 345px;
    }
    .css-69z67c-MuiTabs-scroller {
        padding-bottom: 1rem !important;
    }
    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
        text-transform: none;
        text-align: left;
        padding: 0;
        margin-right: 3rem;
        font-size: 1rem;
        padding-top: 1rem;
        overflow: visible;
        @media #{$breakpoint-md} {
            margin-right: 5rem;
        }
        @media #{$breakpoint-xs} {
            margin-right: 2rem;
        }

        &:before,
        &:after {
            position: absolute;
            left: 0;
            top: .2rem;
            color: #595959;
            font-size: .8rem;
        }
        &.Mui-selected {
            color: #595959;
            &:before {
                color: #ED242E;
            }
        }
        
        &:first-child {
            &:before {
                content: 'Step 1';
            }
        }
        &:nth-child(2) {
            &:before {
                content: 'Step 2';
            }
        }
        &:last-child {
            &:before {
                content: 'Step 3';
            }
        }
        &.step-done {
            &:after {
                margin-left: 2.8rem;
                font-family: 'Material Icons';
                font-size: 1.4rem;
                content: "\e86c";
                color: #ED242E;
                top: -.2rem;
            }
        }
    }
}

.css-1aquho2-MuiTabs-indicator {
    background-color: #ED242E !important;
    height: 3px !important;
}

.cta-responsive {
    @media #{$breakpoint-xs} {
        font-size: 1rem !important;
        padding-left: .5rem !important; 
        padding-right: .5rem !important;
    }
}