.PrivateNotchedOutline-root-2 {
  border-width: 2px !important;
}

.logo-redd {
  width: 19rem;
  padding: 1rem 0 1rem 2rem;
}

.logo-brightredd {
  width: 14rem;
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.left-panel {
  background: #ED242E url(../assets/pattern-bg.jpg) no-repeat center bottom;
  background-size: cover;
  position: relative;
}

.left-panel .inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
}

.left-panel .inner h1,
.left-panel .inner h6 {
  color: #FFFFFF;
}

.right-panel {
  background-color: #E4E7ED;
}

.right-panel .inner-top {
  background-color: #F0F2F5;
}

.right-panel .inner-top .inner {
  padding: 1rem 2rem;
}
/*# sourceMappingURL=global.css.map */